<% provide(:title, 'Getting Started') %>
<div class="container bodycontainer textbody" id="started_body">
  <div class="row">
    <div class="col-xs-12" >
      <h1 class="text-center">Music Theory</h1>
      <p>In the Western music system, the smallest distance between two notes is called a <em>half step</em>. On the guitar, every adjacent fret as you travel along a string is a half step apart. On the piano, every adjacent key (including going from a white key to a neighboring black key) is a half step apart.</p>
      
      <p>We generally refer to notes using letters from A-G. The open A string produces the note "A". As you travel up the string one fret at a time, you are playing what is called the chromatic scale. The chromatic scale contains all of the notes in Western music. It has a distinct sound, think carnvial music or Flight of the Bumblebee. </p>
      
      <p><a href="#" class="notes" id="chromatic_scale">Listen</a> to the chromatic scale</p>
      
      <p>We can call these notes by the following names: <span class="scale">A A&#9839 B C C&#9839 D D&#9839 E F F&#9839 G G&#9839</span>. </p>
      
      <p>Another way to refer to them is: <span class="scale"> A B&#9837 B C D&#9837 D E&#9837 E F G&#9837 G A&#9837.</span> </p>
      
      <p>The &#9839 symbol is pronounced <em>sharp</em>, and it raises a note by a half step. The &#9837 symbol is pronounced <em>flat</em> and it lowers a note by a half step. Therefore, the note "B&#9837" would be called "B flat", and it is one half step (one fret) lower than the note "B". A general term for sharp or flat notes is <em>accidentals</em> </p>
      
      <p>There are two notes in the chromatic scale which proceed right to the following note with no sharp or flat in between. These are B <span class="glyphicon glyphicon-arrow-right"></span> C and E <span class="glyphicon glyphicon-arrow-right"></span> F and it will be useful to memorize them.
      For theoretical reasons, sometimes you will see notes like B&#9839 or F&#9837. These are in practice the same as C and E respectively. </p>

      <p>You'll notice that the chromatic scale above stops at the 11th fret. If we were to continue it one note further, we would land once again on the note "A". Any open string on the guitar produces the same note as the twelfth fret of that string, except they are one octave apart. An octave is an example of an interval, so first let's clarify what that means.</p>

      <h2>Intervals</h2>
      <p>An interval is the distance between two notes. As seen above, an octave, also called a perfect octave, is equal to a distance of 12 half steps, or going from the open string to the twelfth fret. But what about all those notes in between? If we were to alternate between the playing open string and each fret on that string (i.e. play open A then play first fret on A, play open A again then play second fret on A, etc.) we would produce each of the following intervals: </p>
      
      <h3>Click an interval to hear it!</h3>
      
      <table id="interval_table" class="center">
        <tr><td><a href ='#' class="notes" id="0_interval">Perfect Unison  </a> </td>      <td>=</td>  <td>0 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="1_interval">Minor Second    </a> </td>      <td>=</td>  <td>1 half step</td></tr>
        <tr><td><a href ='#' class="notes" id="2_interval">Major Second    </a> </td>      <td>=</td>  <td>2 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="3_interval">Minor Third     </a> </td>      <td>=</td>  <td>3 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="4_interval">Major Third     </a> </td>      <td>=</td>  <td>4 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="5_interval">Perfect Fourth  </a> </td>      <td>=</td>  <td>5 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="6_interval">Diminished Fifth</a> </td>      <td>=</td>  <td>6 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="7_interval">Perfect Fifth   </a> </td>      <td>=</td>  <td>7 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="8_interval">Minor Sixth     </a> </td>      <td>=</td>  <td>8 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="9_interval">Major Sixth     </a> </td>      <td>=</td>  <td>9 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="10_interval">Minor Seventh  </a> </td>      <td>=</td>  <td>10 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="11_interval">Major Seventh  </a> </td>      <td>=</td>  <td>11 half steps</td></tr>
        <tr><td><a href ='#' class="notes" id="12_interval">Perfect Octave </a> </td>      <td>=</td>  <td>12 half steps</td></tr>
      </table>
      
      
      
      <p>Naming intervals can get a little more complicated than this, but for the purpose of the exercises on this website and for communicating with other musicians, these will do. Intervals are the building blocks for scales and chords, and learning to identify them is something that will greatly benefit any musician.</p> 

      <h2>Scales</h2>
      <p>A scale is simply a series of notes. Like we saw with the chromatic scale, scales don't have an end. When you reach the last note in a scale, it continues the same pattern in the next octave. The most important scales to become familiar with are the major scale and the minor scale. We can construct these scales using half steps and whole steps. A whole step is equivalent to two half steps, or two frets on the guitar. </p>
      <p>We can use the following sequence to build a major scale starting on any note:</p>

      <p><a href = '#'class="notes" id="major_scale">W W H W W W H</a> </p>

      <p>H = half step W = whole step</p>
      
      <p>When played on one string on the guitar it looks like this: 
      <div class="text-center"><%= image_tag "Astring.jpg", id:"Astring", title: "A Major Scale"%></div>
      If we start on the open A string and play this pattern, it will produce the following notes: <span class="scale">A B C&#9839 D E F&#9839 G&#9839 A</span>. This is the A major scale.</p> <p>By starting on C, you would get <span class="scale">C D E F G A B C</span>. The C major scale is special in that it is the only major scale without any sharps or flats. On the piano, the C major scale is made up of all the white keys.
      Generally, guitarists will play scales over several or all of the strings to avoid travelling up and down the neck, but a scale played on one string is just as good.</p> 
      
      <p>The minor scale can be played with the following sequence:</p>

      <p><a href = '#'class="notes" id="minor_scale">W H W W H W W</a></p>
      
      <p>Starting on the note "A" will result in <span class="scale">A B C D E F G A</span>. 
      Look familiar? </p>

      <p>The A minor scale has the same notes as the C major scale. They are called <em>relatives</em> because they share the same exact notes. Every major scale has one relative minor scale and vice versa.  In the case of C major and A minor, which both have all <em>natural</em> (non-sharp non-flat) notes, if you start and end on the note "C", the scale will sound major, and if you start and end on "A" it will sound minor. 
      In a general sense, the "major" quality in music can be thought of as happy sounds, while "minor" tends to sound sad. </p>

      <h2>Keys</h2>
      <p>A piece of music is said to be in a certain <em>key</em> based on what scale it uses as its basis. A song based around the notes of the C major scale is said to be "in C major" or "in the key of C". 
      There are 12 keys, one starting on each note of the chromatic scale. They are organized into the <em>Circle of Fifths</em>. This is a diagram that display the keys in order of how many sharp or flat notes that key has. C is on the top of the circle because it has no sharps or flats, while F&#9839/G&#9837 is on the bottom, with 6 sharps/flats. The keys on the right are sharps keys, and will only contain natural or sharp notes, while the left side of the circle holds the flat keys.</p>
     
      <div class="text-center"><%= image_tag "circle_of_fifths.jpg", id:"circle_of_fifths", title: "Circle of Fifths"%></div>

      <p>The outer circle represents the 12 major keys, and the inner circle contains their relative minor keys. The following table shows the sharp and flat notes in the order that they get appear in the keys.</p>
      <table class="center text-center">
        <tr> <th>Flats</th> <th>Sharps</th></tr>
        <tr> <td>B&#9837  </td><td>F&#9839 </td> </tr>
        <tr> <td>E&#9837  </td><td>C&#9839 </td> </tr>
        <tr> <td>A&#9837  </td><td>G&#9839 </td> </tr>
        <tr> <td>D&#9837  </td><td>D&#9839 </td> </tr>
        <tr> <td>G&#9837  </td><td>A&#9839 </td> </tr>
        <tr> <td>C&#9837  </td><td>E&#9839 </td> </tr>
      </table>
      <p>To determine how many accidentals a key has, count how many keys away from C major it is in the Circle of Fifths and add that many sharps or flats from the list. For example, D major is two keys to the right of C major, so in order to build it we take the first two sharps from the list of sharps and the rest of the notes are natural. The result is <span class="scale">D E F&#9839 G A B C&#9839 D</span>.
      <h2>Chords</h2>
      <p>A <em>chord</em> is the name for multiple notes played at the same time. There are many different types of chords, but the most important ones to be familiar with are the basic three-note chords, or <em>triads</em>. Chords can be built using the major scale. 
      If we start with C D E F G A B, the C Major scale, we can <em>harmonize</em> it into chords in the following way:</p>
      <table class="center scale" id="harmonized_example">
      <tr><td>C</td>   <td>D</td>    <td>E</td>   <td>F</td>   <td>G</td> <td>A</td>  <td>B</td></tr>
      <tr><td colspan="7"><hr></td></tr>
      <tr><td>C</td>   <td>D</td>    <td>E</td>   <td>F</td>   <td>G</td> <td>A</td>  <td>B</td></tr>
      <tr><td>E</td></tr>
      <tr><td>G</td></tr>
      <tr><td colspan="7"><hr></td></tr>
      <tr><td>C</td>   <td>D</td>    <td>E</td>   <td>F</td>   <td>G</td> <td>A</td>  <td>B</td></tr>
      <tr><td>E </td><td>F</td></tr>
      <tr><td> G</td> <td>A</td></tr>
      </table>
      <p>This creates triads (the vertical columns) starting on each note of the scale. 
      The final result looks like:</p> 

      <table class="center scale">
        <tr></td><td>C</td>   <td>D</td>    <td>E</td>   <td>F</td>  <td>G</td> <td>A</td>  <td>B</td></tr></tr>
        <tr></td><td>E</td>   <td>F</td>    <td>G</td>   <td>A</td>  <td>B</td> <td>C</td>  <td>D</td></tr></tr>
        <tr></td><td>G</td>   <td>A</td>    <td>B</td>   <td>C</td>  <td>D</td> <td>E</td>  <td>F</td></tr></tr>
      </table>
      
      <p>Here is one way that you can play the first chord in this series on the guitar:</p>
      
      <div class= "text-center"><%= image_tag "cdiagram.png", id:"cdiagram", title:"C Major Chord"%></div>

      <p>Wait, why are there five notes in this chord? Aren't the triads supposed to be three-note chords?
      Chords can have multiples of any of their notes. If we look at the notes being played in the above chord, from lowest to highest they are C E G C E. </p>

      <p>Let's add a little more information about the chords.</p>
      <table id="harmonized_table">
        <tr><th>       </th><th><a href ='#' id='0_chord' class='notes'>&#8544</a></th>  <th><a href ='#' id='1_chord' class='notes'>&#8561</a></th> <th><a href ='#' id='2_chord' class='notes'>&#8562</a></th><th><a href ='#' id='3_chord' class='notes'>&#8547</a></th>  <th><a href ='#' id='4_chord' class='notes'>&#8548</a></th>   <th><a href ='#' id='5_chord' class='notes'>&#8565</a></th>  <th><a href ='#' id='6_chord' class='notes'>&#8566&deg</a></th></tr>
        <tr><td>Root   </td><td>C</td>   <td>D</td>    <td>E</td>   <td>F</td>   <td>G</td> <td>A</td>  <td>B</td></tr>
        <tr><td>Third  </td><td>E</td>   <td>F</td>    <td>G</td>   <td>A</td>  <td>B</td> <td>C</td>  <td>D</td></tr>
        <tr><td>Fifth  </td><td>G</td>   <td>A</td>    <td>B</td>   <td>C</td>  <td>D</td> <td>E</td>  <td>F</td></tr>
      </table>
  
     <p><em>Root</em>, <em>third</em> and <em>fifth</em> are just what we call the three notes in the chord. Thinking back to intervals, the third is going to be either a major or minor third above the root of the chord, while the fifth will be a perfect or diminished fifth above the root. </p>

     <p>The roman numerals on top of each chord correspond to the number of the chord within the scale. Upper case roman numerals are for major chords and lower case are for minor chords. The seventh chord is a little different, and it is called <em>diminished</em>. </p>

     <p>One way to tell the difference between these types of chords is by counting the half steps between their notes. It can be helpful to have the chromatic scale in front of you for this.</p>

     <p>Let's count out the half steps between the notes of the first chord, C major. </p>

     <p class="scale">A A&#9839 B C C&#9839 D D&#9839 E F F&#9839 G G&#9839</p>

     <p>C <span class="glyphicon glyphicon-arrow-right"></span> E is 4 half steps. Looking back to our interval list, 4 half steps = major third. <br>
     D <span class="glyphicon glyphicon-arrow-right"></span> G is 7 half steps. 7 half steps = perfect fifth. </p>

     <p>Now let's try the second chord, D minor.</p>

     <p class="scale">A A&#9839 B C C&#9839 D D&#9839 E F F&#9839 G G&#9839</p>

     <p>D <span class="glyphicon glyphicon-arrow-right"></span> F is 3 half steps. 3 half steps = minor third. <br>
     D <span class="glyphicon glyphicon-arrow-right"></span> A is 7 half steps. 7 half steps = perfect fifth. </p>

    <p> We can see that the difference between a major and minor chord is in the interval between the root and the third of the chord. So to change a chord from major to minor, you only have to move the third by one half step. </p>
     <p>For example here's a C major chord compared to a C minor chord:</p>
     <table class="center">
       <tr><td>C </td><td>  </td><td>C</td></tr>
       <tr><td>E </td><td><span class="glyphicon glyphicon-arrow-right"></span></td><td>E&#9837</td></tr>
       <tr><td>G </td><td>  </td><td>G</td></tr>
     </table>

     
     <p>And for the last chord in the scale:</p>

     <p class="scale">A A&#9839 B C C&#9839 D D&#9839 E F F&#9839 G G&#9839</p>

     <p>B <span class="glyphicon glyphicon-arrow-right"></span> D is 3 half steps. 3 half steps = minor third. <br>
     B <span class="glyphicon glyphicon-arrow-right"></span> F is 6 half steps. 6 half steps = diminished fifth. </p>

     <p>This is called a diminished chord, represented by the &deg symbol and you will find it sounds a little more tense than a major or minor chord. </p>

     <div id="chord_compare"><p>The pattern of the chords that appear in the harmonized C major scale:</p>

     <p class="scale text-center">&#8544   &#8561  &#8562 &#8547  &#8548   &#8565  &#8566&deg </p>   <p class="text-center">or</p>    <p class="text-center">Major Minor Minor Major Major Minor Diminished</p>

     <p>will be the same in any major scale that you harmonize. Try it out for yourself!</p></div>

     <h1>Ear Training</h1>
     <p>Ear training is the practice of associating what you hear with what you know. Learning the names of all the intervals is nice, but being able to identify each one by ear is much more useful. </p>
     <h2>Hearing Intervals</h2>
     <p>A good way to start training your ear is by learning the intervals starting with just a few and adding more gradually. If you are new to ear training, try going to the <%= link_to  "Music Training", music_training_path %> page and start with just the major intervals. When you feel like you have a grasp on those, add the perfect intervals, and save the minors for last. 
     If you are struggling with hearing the difference, try finding melodies you know that start with each interval. </p>


     <table id = "intsong_table" class="center">
       <tr><th>Song</th>                      <th>Interval</th></tr>
       <tr><td>Happy Birthday                 </td><td>Major Second   </td>  </tr>
       <tr><td>Kumbayah                       </td><td>Major Third    </td> </tr>
       <tr><td>Here Comes the Bride           </td><td>Perfect Fourth </td>    </tr>
       <tr><td>Star Wars                      </td><td>Perfect Fifth  </td>   </tr>
       <tr><td>My Bonnie Lies Over the Ocean  </td><td>Major Sixth    </td>  </tr>
       <tr><td>Somewhere Over the Rainbow     </td><td>Perfect Octave </td>    </tr>
     </table>
     <h2>Hearing Chords</h2>
     <p>The chord section of the Ear Training practice on this site requires you to listen to the first chord in the key followed by another chord. You will find that this exercise quickly gets harder as you increase the amount of possible chords using the Options panel. By selecting "Major Scale" and "Minor Scale" simultaneously or by selecting "All Chords", the chord combinations expand to include <em>non-diatonic</em> chords, those that would not normally occur in the same key as the given "&#8544" or "&#8560" chord. 
     One strategy for hearing these chord progressons is to listen for the interval between each chord's root note. The chords you hear are all in <em>root position</em>, meaning that their notes are in ascending order from root - fifth. </p>

     <p>What does it mean when you see something like &#8544 - &#9837&#8565?</p>

     <p>This is a non-diatonic chord progression. We would pronounce it as "The one major chord going to the flat six minor chord". 
     This is equivalent to a C major chord followed by an A&#9837 minor chord. </p>

     <h2>Hearing Scales</h2>
     <p>The scale portion may look like greek to some of you. If so you're right!
     The greek scale names are of the <em>modes</em> of the major scale. Modes can be a tricky concept to grasp, but essentially we are taking the notes of the major scale and creating new scales starting on each one. This is where the idea of relative major and minor scales originates. </p>
     
     <table class="center scale_table">
       <tr><td><a href='#'id="0_mode" class='notes'>C Ionian (Major Scale) </a></td>    <td><span class="scale">C D E F G A B C</span></td>    <td>W W H W W W H</td></tr>
       <tr><td><a href='#'id="1_mode" class='notes'>D Dorian               </a></td>    <td><span class="scale">D E F G A B C D</span></td>    <td>W H W W W H W</td></tr>
       <tr><td><a href='#'id="2_mode" class='notes'>E Phrygian             </a></td>    <td><span class="scale">E F G A B C D E</span></td>    <td>H W W W H W W</td></tr>
       <tr><td><a href='#'id="3_mode" class='notes'>F Lydian               </a></td>    <td><span class="scale">F G A B C D E F</span></td>    <td>W W W H W W H</td></tr>
       <tr><td><a href='#'id="4_mode" class='notes'>G Mixolydian           </a></td>    <td><span class="scale">G A B C D E F G</span></td>    <td>W W H W W H W</td></tr>
       <tr><td><a href='#'id="5_mode" class='notes'>A Aeolian (Minor Scale)</a></td>    <td><span class="scale">A B C D E F G A</span></td>    <td>W H W W H W W</td></tr>
       <tr><td><a href='#'id="6_mode" class='notes'>B Locrian              </a></td>    <td><span class="scale">B C D E F G A B</span></td>    <td>H W W H W W W</td></tr>
     </table>

     <p>You can identify these scales by listening to the pattern of half steps and whole steps, which are equivalent to minor second and major second intervals.</p>

     <p>The two additional scales are other types of minor scales.</p>
     <table class="center scale_table">
       <tr><td><a href='#'id="harmonic_scale" class='notes'>Harmonic Minor </a></td><td> <span class="scale">A B C D E F  G&#9839 A      </span> </td><td>    W H W W W W+1/2 H  </td></tr>
       <tr><td><a href='#'id="melodic_scale" class='notes'> Melodic Minor  </a></td><td> <span class="scale">A B C D E F&#9839 G&#9839 A </span> </td><td>W H W W W W H          </td></tr>
     </table>
     <p>Notice the 1/2 step jump in the harmonic minor scale. This should make that scale stand out from the others and gives it a distinctive sound, heard frequently in Latin and Middle Eastern music. There are many other types of scales, but these are a good start. </p>
     <h3>Now go <%= link_to  "quiz", music_training_path %> yourself!</h3>
     <h3>Still have questions? <%= link_to  "Contact", contact_path %> me to set up a lesson in person or over Skype </h3>
    </div>   
  </div>
</div>