<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table >  
      <tr>
        <th><%= sortable "title" %><span class="<%=add_icon "title" %>"></span></th>
        <th><%= sortable "artist", "With"%><span class="<%=add_icon "artist" %>"></span></th>
        <th><%= sortable "year" %><span class="<%=add_icon "year" %>"></span></th>
        <th id='dl'><div class="glyphicon glyphicon-download"></div></th>
      </tr>
      <% @songs.each do |song| %>  
        <tr class="<%= cycle('odd', 'even') -%>" data-blurb = "<%= song.blurb %>" data-title= "<%= song.title %>"> 
          <td class='title'><a class ='listen' href= "<%=download_url_for(song.filename)%>"> <%= song.title %></a></td> 
          <td class = "artist"><%= song.artist || "Solo" %></td>
          <td class = "year"><%= song.year %> </td>
          <td><a class = "btn btn-success download" href= "#"><span class="glyphicon glyphicon-arrow-down"></span></a></td> 
        </tr>  
      <% end %>  
    </table>  
    <%= will_paginate @songs, renderer: BootstrapPagination::Rails %> 

    