<!DOCTYPE html>
<html class=<%= @home_page ? 'no_scroll' : '' %>  >

<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application"%>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class=<%= @home_page ? 'no_scroll' : '' %>>

<%= render 'layouts/header'%>

<%= yield %>
<footer>&copy2014 Max Tietze</footer>
</body>
</html>
